html {
  font-family: "Edu SA Beginner", cursive;
  font-size: 20px;
}
body,
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.main_page {
  background-image: url("../public/images/jessica-lewis-8T-lK9FkzyI-unsplash.jpg");
  /* Add the blur effect */
  /* filter: blur(1px); */
  /* -webkit-filter: blur(1px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.question_box {
  margin: 150px 0 150px 0;
  padding: 20px 50px 20px 50px;
  min-height: 600px;
  min-height: 600px;
  background-color: rgb(165 136 100 / 70%);
  border-radius: 16px;
}
